stages:
  - test

before_script:
  - python --version
  - pip install --upgrade pip
  - pip install poetry
  - poetry config virtualenvs.create true
  - poetry config virtualenvs.in-project true
  - poetry lock
  - poetry install --with dev


test:
  image: python:3.9
  stage: test
  script:
    - poetry run pytest tests/ -v --tb=short