name: Run Tests

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
  workflow_dispatch:  # Enables manual triggering

jobs:
  test:
    runs-on: ubuntu-latest
    
    services:
      graphdb:
        image: ontotext/graphdb:11.1.3
        ports:
          - 7200:7200
        options: >-
          --health-cmd "curl -f http://localhost:7200/rest/repositories || exit 1"
          --health-interval 30s
          --health-timeout 10s
          --health-retries 5
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Start GraphDB and wait for it to be ready
      run: |
        echo "Waiting for GraphDB to be ready..."
        until curl -s http://localhost:7200/rest/repositories; do
          sleep 5
        done
        echo "GraphDB is ready!"